html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: white;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.wrapper {
    margin-top: 30px;
    display: inline-block;
    height: 320px;
    width: 320px;
    border: 10px solid rgb(185, 185, 185, 0.6);
    box-shadow: 5px 5px 10px rgb(185, 185, 185, 0.8), -5px -5px 10px rgb(185, 185, 185, 0.8);
    padding: 10px;
    text-align: left;
    font-size: 90px;

}
